@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cardo", serif;
  /* background-color: #eceaeb; */
  /* border: 1px solid red; */
  text-decoration: none;
}

button{
  cursor: pointer;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #eceaeb;
  z-index: -1;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
}

.navBar {
  padding: 5% 8% 0 8%;
  position: fixed;
  width: 100%;
  border: none;
  background-color: #eceaeb;
  z-index: 2;
  border-radius: 5px;
  box-shadow: -2px 7px 5px -6px rgba(0, 0, 0, 0.61);
}
.navigation {
  position: relative;
  border: none;
}

.navItems {
  display: inline-block;
  width: 57%;
  font-size: 19px;
  border: none;
}
#home {
  font-weight: 900;
  color: black;
}

.navItem {
  margin-right: 25px;
  padding: 5px 18px;
  transition: all 0.5s ease-in-out;
  color: rgb(100, 93, 93);
  border: none;
}

/* .navItem:hover{
    background-color: black;
    color: white;
    border-radius: 20px;
    font-weight: 600;
    margin-right: 57px;
} */
#home:hover {
  background-color: #2d2d2d;
  color: white;
  border-radius: 22px;
}
.navItem:hover {
  background-color: black;
  color: white;
  border-radius: 22px;
}

.contactUs {
  display: inline-block;
  position: relative;
  left: 26%;
  border: 3px solid #2d2d2d;
  border-radius: 7px;
  background-color: white;
  margin-bottom: 5px;
}
.contactUsBtn {
  padding: 6px 38px;
  font-size: 19px;
  font-weight: 900;
  color: #2d2d2d;
  border: none;
  cursor: pointer;
}

.LandingPage {
  width: 100%;
  padding: 13% 8% 8% 9%;
  background-image: url(../images/imageTwo.png), url(../images/imageThree.png);
  background-position: left -20rem top 16rem, right -1rem top 24rem;
  background-repeat: no-repeat;
}

.homeContainer {
  display: inline-block;
  position: relative;
}
.mainDescription {
  display: inline-block;
  width: 50%;
}

.mainHeading {
  display: inline-block;
  font-size: 38px;
  line-height: 75px;
}

.description {
  display: inline-block;
  font-size: 14px;
  word-spacing: 0px;
  padding-top: 17px;
  width: 76%;
  font-weight: bolder;
}

.reserveTicketBtn {
  background-color: #2f2f2f;
  color: white;
  font-weight: bolder;
  font-size: 17px;
  border-radius: 6px;
  padding: 9px 55px;
  margin-top: 17px;
  cursor: pointer;
  border: none;
}

.space {
  display: inline-block;
}
.displayImageContainer {
  display: inline-block;
  width: 49%;
}

.imageContainer {
  display: inline-block;
  width: 100%;
}

.imageContainer > img {
  width: 100%;
  height: 334px;
  margin-top: 3px;
}

.memories {
  width: 100%;
  display: inline-block;
  background-color: #1e1e1e;
  padding-bottom: 97px;
  background-image: url(../images/scribble_light_2.png);
  background-repeat: no-repeat;
  /* background-position: right -1rem top 24rem; */
  background-position: right -4rem top 15rem;
}

.momoriesLeft {
  display: inline-block;
  width: 33%;
  position: relative;
  top: -17px;
}
.momoriesLeft > img {
  width: 87%;
}
.meomoriesMid {
  display: inline-block;
  width: 33%;
  text-align: center;
  color: white;
  position: relative;
  top: 51px;
}

.memoriesRight {
  display: inline-block;
  width: 33%;
  /* background-image: url(../images/scribble_light_2.png); */
}
.meomoriesMid > h1 {
  font-size: 48px;
  line-height: 0.9;
}

.travelLogsBtn {
  background-color: #1e1e1e;
  color: white;
  border: 2px solid white;
  margin-top: 17px;
  padding: 6px 34px;
  border-radius: 5px;
}

.travelLogsBtn > h3 {
  font-size: 18px;
}
.meomoriesMid > p {
  /* padding-top: 10px; */
  text-align: justify;
  width: 88%;
  margin: auto;
  font-size: 14px;
  text-align-last: center;
  margin-top: 17px;
}

.travelsContainer {
  width: 100%;
  background-image: url(../images/scribble_dark_6.png),
    url(../images/scribble_dark_5.png);
  background-repeat: no-repeat;
  background-position: left 0px top -4rem, right 0px top 20rem;
  margin-top: 7%;
  background-size: 2rem 47rem, 4rem 28rem;
}

.travels {
  padding: 8% 8% 5% 9%;
}

.travel {
  display: inline-block;
  width: 31%;
  box-shadow: -2px 7px 5px -6px rgba(0, 0, 0, 0.61);
  padding-bottom: 10px;
}
#travel1 {
  margin-right: 3%;
}
#travel2 {
  margin-right: 3%;
}

.travelImageContainer {
  width: 100%;
  margin-bottom: 27px;
}

.travelImageContainer > img {
  width: 100%;
}

.travelTitle {
  width: 83%;
  line-height: 1;
  margin-bottom: 27px;
}

.barLine {
  height: 4px;
  background-color: black;
  width: 20%;
  border-radius: 0px 6px 6px 0px;
  margin-bottom: 20px;
}

.travelDescription {
  line-height: 1.3;
  text-align: justify;
  font-size: 13px;
  font-weight: bold;
}

.visitOuter {
  width: 100%;
  background-image: url(../images/scribble_dark_4.png),
    url(../images/scribble_lightest.png);
  background-repeat: no-repeat;
  background-position: left 21rem top 34rem, right 0px top 2rem;
  background-size: 15rem 5rem, 16rem 44rem;
  padding-bottom: 50px;
}
.visitPlaces {
  width: 82.6%;
  margin: auto;
  /* margin-top: 18%; */
  padding-top: 18%;
}

.seeNewplaces {
  width: 39.5%;
  margin: auto;
}

.icon {
  width: 0%;
  margin: auto;
  margin-bottom: 45px;
}

.phrase > h1 {
  font-size: 62px;
}

.phrase {
  width: 119%;
  margin: auto;
  line-height: 1.1;
  margin-bottom: 40px;
}

.phrase span {
  font-style: oblique;
  text-decoration: underline;
  font-size: 77px;
}
.icon > img {
  height: 44px;
}

.phraseDesc {
  font-weight: bolder;
  font-size: 15px;
  width: 119%;
  margin: auto;
  padding-left: 41px;
  transition: all 50s ease-in-out;
}
.travels .travel:hover {
  transform: translateY(-10px);
}

.featuredPlaceContainer {
  margin-top: 140px;
}
.leftFeatureContainer {
  display: inline-block;
  width: 42%;
  position: relative;
  margin-right: 43px;
}
/* .leftFeatureContainer > img{
  position: relative;
    bottom: -7%;
    bottom: 501px;
    right: 35px;
} */

.leftFeatureContainerImage {
  display: inline-block;
  width: 100%;
}
.leftFeatureContainerImage > img {
  width: 100%;
}
.rightFeatureContainer {
  display: inline-block;
  width: 44%;
  position: absolute;
  /* bottom: 272px; */
}

.rightFeatureContainerImage {
  display: inline-block;
  margin-bottom: 25px;
}
.rightFeatureContainerImage > img {
  width: 300px;
}
.rightFeatureContainerText {
  display: inline-block;
}

.rightFeatureContainerBold {
  display: inline-block;
  width: 49%;
  line-height: 1.5;
}

.rightFeatureContainerBold > h1 {
  text-decoration: underline;
  font-weight: bolder;
}

.rightFeatureContainerNormalText {
  display: inline-block;
  width: 49%;
}

.rightFeatureContainerNormalText > div {
  display: inline-block;
  font-size: 14px;
  font-weight: 900;
}
.arrow img {
  width: 133px;
  position: relative;
  left: 426px;
  height: 104px;
}
.leftFeatureContainer > img {
  position: absolute;
  /* bottom: -7%; */
  /* z-index: 2; */
  /* bottom: 501px; */
  /* right: 35px; */
  left: -30px;
  /* top: 9px; */
  /* top: -5px; */
  /* bottom: 10px; */
  margin-top: 151px;
  height: 175px;
}

.travelLocation {
  width: 100%;
  background-color: #1e1e1e;
  padding-bottom: 25px;
  background-image: url(../images//scribble_light.png);
  background-repeat: no-repeat;
  background-position: left -1rem bottom -1rem;
  background-size: 26rem 6rem;
}

.travelll {
  width: 91%;
  margin-left: auto;
  padding-top: 90px;
}

.travelLeft {
  display: inline-block;
  width: 33%;
  margin-right: 85px;
  color: white;
}

.travelRightContainer {
  display: inline-block;
  width: 59%;
}

.travelRightImageContainer {
  width: 100%;
}

.travelRightImageContainer > img {
  width: 100%;
}

.travelheading {
  font-size: 23px;
  color: white;
  line-height: 1.1;
  font-weight: bolder;
  margin-bottom: 129px;
}

.travellDescription {
  margin-bottom: 54px;
}
.travellDescription > h2 {
  margin-bottom: 10px;
}

.travellDescription > p {
  line-height: 1;
}

.fAQ {
  width: 82%;
  margin: auto;
}

.fAQcontainer {
  padding: 100px 0 140px 0;
}

.faqLeft {
  display: inline-block;
  width: 60%;
  margin-right: 5%;
}

.faqRight {
  display: inline-block;
  width: 34%;
  position: relative;
  top: 20px;
}

/* .faqImageContainer {
  width: 100%;
} */

.faqRight > img {
  width: 100%;
}

.faqLeft > h1 {
  font-size: 69px;
  font-weight: bolder;
  line-height: 1;
  margin-bottom: 100px;
}

/* .faqLeft > div {
  padding: 10px 10px;
}

.faqLeft > div > span {
  font-size: 13px;
  font-weight: 600;
} */


.aboutUs {
  width: 100%;
  padding-bottom: 5%;
  background-image: url(../images/scribble_dark_2.png), url(../images/scribble_dark_3.png);
  background-repeat: no-repeat;
  background-position: left 0rem top 7rem, right 0rem bottom 4rem;
  background-size: 18rem 8rem, 23rem 6rem;
  /* background-size: left 10rem 10rem; */
  padding-top: 10%;
  padding-bottom: 13%;
}


.aboutSection {
  /* display: inline-block; */
  width: 82%;
  margin: auto;
}

.feedBackHeading {
  width: 55%;
  margin: auto;
  text-align: center;
  line-height: 1;
}
.feedBackHeading > h1{
  font-size: 66px;
}
.feedBackCardContainer{
  /* display: inline-block; */
}

.card {
  display: inline-block;
  width: 32%;
  border: 2px solid black;
  text-align: center;
  margin-top: 7%;
  border-radius: 12px;
  padding-bottom: 4%;
}

.cardIconContainer{
  width: 33%;
  margin: auto;
  padding-top: 18%;
}
.iconContainer{
  width: 100%;
}

.iconContainer > img {
  width: 100%;
}

#firstCard,#secondCard{
  margin-right:16px;
}
#firstCard{
  position: relative;
}

.line{
  font-size: 13px;
  padding: 8px 0px 8px 18px;
}
#line1{
  border-top: 2px solid black;
}

#line2{
  border-top: 2px solid black;
  
}

#line3{
  border-top: 2px solid black;
  
}

#line4{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  
}

.plus {
  font-size: 31px;
  padding-left: 96px;
  position: relative;
  top: 7px;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.plus:hover {
  transform: rotate(45deg);
}

.customerName{
  margin-top: 30px;
  font-weight: bolder;
  font-size: large;
}

.customerDescription{
  margin-top: 20px;
  font-size: 13px;
  padding: 0 5%;
  padding-bottom: 2%;
  font-weight: 600;
  text-align-last: center;

}


.rightArrow{
  position: absolute;
  top: 147px;
  left: -23px;
  left: -41px;
  border: 2px solid black;
  padding: 0px 13px;
  border-radius: 8px;
  font-size: 47px;
  background-color: #eceaeb;
}
#thirdCard{
position: relative;
}
.leftArrow{
  position: absolute;
  top: 147px;
  right: -41px;
  border: 2px solid black;
  padding: 0px 13px;
  border-radius: 8px;
  font-size: 47px;
  background-color: #eceaeb;
}

.contactForm{
  padding: 0% 8% 0 9%;
}

.form{
display: inline-block;
width: 45%;
vertical-align: top;

}
.form > h1{
font-size: 64px;
width: 75%;
margin-bottom: 30px;
font-weight: bolder;
}

.feedBackForm{
  display: inline-block;
}

.feedBackForm > input,textarea{
  width: 75%;
} 
textarea{
  resize: none;
  margin-bottom: 40px;
  padding: 10px 0px 10px 10px;
  
}
.formSideImage{
width: 50%;
display: inline-block;
}

.formSideImage > img {
  width: 100%;
}

input{
  padding: 10px 0px 10px 10px;
}

input[type="text"] {
  margin-bottom: 25px;
}
input,textarea{
  border :2px solid black;
  border-radius: 5px;
  font-size: 17px;
}
input[type="submit"]{
  background-color:"#2f2f2f";
}
